/*Здесь делаем первую букву абзаца большой, а шрифт первой строки делаем курсивным.*/
p:first-letter {
    font-size: 3em;
}
p:first-line {
    font-style: italic;
}

/*Этот селектор выбирает все изображения, у которых есть атрибут width*/
img[width] { border: black thin solid; }

/*Данный селектор выбирает все изображения, у которых есть атрибут height с заданным для него значением 300*/
img[height="300"] { border: red thin solid; }

/*Этот селектор выбирает все изображения, у которых есть атрибут alt, в значение которого входит слово flowers*/
image[alt~="flowers"] { border: #ccc thin solid; }

/*Селектор выберет абзацы, следующие сразу же после элементов ‹h1›.*/
h1+p {
    font-style: italic;
}

/*Здесь мы выбираем абзацы — потомки элементов,
являющихся членами класса blueberry*/
.blueberry p { color: purple; }

